<div class="jumbotron text-center">
    <h1>{{ item_name }}<span class="label label-info">{{ items.length }}</span></h1>
    <button type="button" class="btn btn-default" onclick="$('#add-form').slideToggle()"><span class="glyphicon glyphicon-plus">Add</span></button>


	<div ng-include="'/form.html'"></div>
    
    
</div>

<div id="job_positions-list" class="row">
    <div class="col-sm-4 col-sm-offset-4">
        
        <div class="checkbox" ng-repeat="item in items">
            <label>
            <!-- type="checkbox" ng-click="deleteTodo(todo._id)">  -->
                <span>
                	<span  onclick="$(this).parent().find('.info').toggleClass('hidden')">{{ item.name }}</span>
                	<span class="glyphicon glyphicon-pencil"></span>
                	<span class="glyphicon glyphicon-remove" ng-click="delete(item.name)"></span>
	                
	                <div class="info hidden">
		                <div class="" ng-repeat="(key, value) in item">
		                	<span>{{key}}: {{value}}</span>
		                </div>
	                </div>
                </span>
                
            </label>
        </div>
    </div>
</div>