<!-- <div id="add-form" class="hiden">
	    <form>
	    	<div class="form-group row">
				<label for="example-text-input" class="col-xs-2 col-form-label">Nombre</label>
				<div class="col-xs-10">
					<input class="form-control" type="text" placeholder="Nombre" ng-model="formData.name"  >
				</div>
			</div>
			<div class="form-group row">
				<label for="example-text-input" class="col-xs-2 col-form-label">Descripción</label>
				<div class="col-xs-10">
					<input class="form-control" type="text" placeholder="Descripción" ng-model="formData.description">
				</div>
			</div>

			<div class="form-group row">
				<div class="offset-sm-2 col-sm-10">
					<button type="submit" class="btn btn-primary" ng-click="create()">Enviar</button>
				</div>
			</div>
	    </form>
    </div> -->

<div id="add-form" class="hiden">
	<form novalidate ng-submit="vm.create()">
	    <formly-form model="vm.formData" fields="vm.fields" form="vm.editForm">
	        <button type="submit" class="btn btn-primary">Submit</button>
	    </formly-form>
	</form>
</div>